.fullReportCard {
    min-height: 80vh;
    width: 900px;
}
.errorMessage {
    font-size: 30px;
    text-align: center;
}
.card-header {
    text-align: center;
}

.topReport {
    margin:auto;
    margin-bottom: 20px;
}
.caseDisp {
    margin-left: 10px;
}

.whenCard {
    margin-top: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.whenTitle {
    font-size: 15px;
    font-weight: bold;
}