.filterMain {
    min-height: 110vh;
    max-width: 1300px;
    margin: auto;
}
.searchButton {
    margin-top: 20px;
    text-align: right;
}

.filterTypeCards {
    margin-bottom: 20px;
}
.dateFilters {
    margin-bottom: 10px;
}