.navbar-brand {
    margin-left: 7%;
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
}
#navBarMain, .dropdown-item {
    font-size: 16px;
}
.submit {
    color: aliceblue;
    font-size: 16px;
}